<main class="general">
  <div class="search">
    <%= form_tag areas_path, :method => :get, :id => 'search' do %>
        <%= text_field_tag :search, params[:search], size:"50", placeholder:"Find adventures for your Furiends" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>

  </div>

  <div id="map"></div>

  <div class="live_directions">
    <div class="live_directions_button">

    </div>

  </div>
</main>
