<main class="general row">

  <div class="search_and_map col sm-col-12 med-col-11 col-10 ">

    <div class="search">
      <%= form_tag areas_path, :method => :get, :id => 'search' do %>
          <%= text_field_tag :search, params[:search], size:"80%", placeholder:"Search by area here..." %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <div id="map">

    </div>

  </div>

  <!-- <div class="live_directions">

    <div class="live_directions_button">

    </div>

  </div> -->


</main>
