<main class="general">

  <div class="search_and_map">

    <div class="search">
      <%= form_tag areas_path, :method => :get, :id => 'search' do %>
          <%= text_field_tag :search, params[:search], size:"50%", placeholder:"Search by area here..." %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>

    <div id="map">

    </div>

  </div>


  <div class="text_and_directions">

    <div class="text">
      At I Hound It, we believe life is better when you share it with your dog. That's why we are passionate about helping people find parks, beaches and other amazing places where the whole family can safely relax and enjoy life together.
    </div>

    <div class="live_directions">

      <div class="dog_pic">
        <%= image_tag("dog_cartoon.png") %>
      </div>

      <div class="live_directions_button">

      </div>

    </div>

  </div>

</main>
