@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: 'Source Sans Pro', sans-serif;
}

// Links
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #0FA0CE; }


// Nav

nav{
  background-color: #8ccce2;
  font-size: 1.2em;
  color: ghostwhite;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1em;
  z-index: 10000;

  a{
    color: ghostwhite;
  }
  a:hover{
    color: grey;
    cursor: pointer;
  }

  .logo img{
    width: 200px;
  }

  .logo{
    display: inline-block;
    width: 39%;
    padding: .3em;
  }

  .links{
    display: inline-block;
    width: 59%;
    text-align: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  li{
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
  }

}


// Search Page


main {

  .search {
    margin: 0 auto;
  }

  #map {
    margin: 2em auto;
    width: 50vw;
    height: 50vw;
  }

}


.show_rate {
  display: inline-block;
}


.show {
  margin: 8em auto;

  .area_image {
    display: inline-block;
    margin: 2em;
    width: 50%;
    float: left;
    margin: 0 auto;

    .image_display, .image_new{
      width: 80%;
      margin: 2em auto;
    }

    .dropZone{
      width: 60%;
      margin: 0 auto;
    }
  }

  .area_info {
    display: inline-block;
    margin: 2em;
    width: 50%;
    float: right;
    margin: 0 auto;

    .area_details, .area_control, .area_rating, .area_review{
      width: 80%;
      margin: 2em auto;
    }
  }

}


.general {
  width: 50%;
  margin: 10vw auto;
}

#sign_in img{
  width: 200px;
}

.live_directions{
  width: 60%;
  margin: 3em auto;

  .live_directions_button{

    padding: 2em;

    a{
      font-size: 1.5em;
      text-align: center;
    }

  }


}

footer{
  background-color: #caa86b;
}





@media (max-width: 800px){
  main {
    padding-top: 5em;

    #map {
      margin: 2em auto;
      width: 70vw;
      height: 70vw;
    }
  }
}
