// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slick-slider {
  width: 500px;
  margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.show_rate > div:not(.star) {
  background-image: image-url('mid-star.png') !important;
}
 
